name: Toolchain

on: [push, pull_request]

jobs:
  toolchain:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        tc: [kindle, kindle5, kindlepw2, kindlehf, kobo, kobov4, kobov5, nickel, remarkable, cervantes, pocketbook, bookeen]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Deps
        run:  sudo apt-get install build-essential autoconf automake bison flex gawk libtool libtool-bin libncurses-dev curl file git gperf help2man texinfo unzip wget

      - name: gen-tc
        run: ./gen-tc.sh ${{ matrix.tc }}

      - name: tar
        run: tar -C ~ -czf ${{ matrix.tc }}.tar.gz x-tools

      - name: Uploading artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.tc }}
          path: ${{ matrix.tc }}.tar.gz
